/* Instructions: Move your mouse and keep moving it, simple! Move slowly and get even cuter effect! */

/* Play around with it for some time, maybe you'll find something */

html,
body {
  cursor: none;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
} */

.c {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.ci {
  width: 60px;
  height: 60px;
  border: 2px solid hsla(150 70% 70% / .6);
  border-radius: 100px;
  box-shadow: inset 0 0 25px hsla(150 70% 70% / .7);
  transform: translate(-50%, -50%);
  position: relative;
  z-index: 20;
}

.co {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: hsla(var(--hue) 70% 70% / .7);
  position: fixed;
  transition: 1s;
}

/* #h {
  font-size: calc(3rem + 10vh);
  font-weight: 900;
  letter-spacing: 20px;
  margin: 0;
  color: hsl(150 50% 50%);
}

#s {
  display: inline-block;
  transform: rotate(var(--r));
} */

.abs-profiles {
  position: fixed;
  right: 20px;
  bottom: 23px;
  filter: grayscale(1);
}

.abs-profiles a {
  display: inline-block;
  margin-left: 6px;
}